$white-1: #ffffff;
$white-2: #eeeeee;
$white-3: #dddddd;
$white-f8: #f8f8f8;
$white-blue: #fbfcff;
$white-blue-old: #f4f6fb;
$rgba-shadow-black: rgba(0, 0, 0, 0.06);
$black-1: #000000;
$black-2: #192835;
$black-3: #333333;
$black-4: #46484a;
$black-5: #636363;
$black-6: #9398a4;
$black-7: #4b4b4b;
$black-8: #3b444c;
$rgba-black: rgba(0, 0, 0, 0.12);
$gray-1: #999999;
$gray-2: #9398a4;
$gray-ccc: #cccccc;
$gray-7a: #7a7a7a;
$blue-1: #0092c9;
$blue-2: #ddf3f9;
$blue-3: #005ea2;
$blue-4: #005ca4;
$blue-5: #E6F2F8;
$blue-6: #005B9B;
$rgba-blue: rgba(65, 188, 234, 0.07);
$yellow-1: #ffea00;
$yellow-2: #f6e58d;
$orange-1: #FBA333;
$red-1: #a0002d;
$red-2: #d41148;
$red-3: #dc3545;
$gray-1: #b2b2b2;
$gray-blue-1: #f1f9fb;
$gray-blue-2: #7e96a7;
// Home Colors
$primary-color: #48186F;
// typography
$font-big: 8em !default;
$font-large: 5em !default;
$font-size-h1: 3em !default;
$font-size-h2: 2.3em !default;
$font-size-h3: 1.8em !default;
$font-size-h4: 1.4em !default;
$font-size-h5: 1.05em !default;
$font-size-h6: 0.9em !default;
$font-p: 16px !default;
$font-p-medium: 14px !default;
$font-p-small: 12px !default;
$font-default: "Poppins",
"Poppins UI",
sans-serif;
$font-title: "Poppins",
sans-serif; // 'Karla', sans-serif;
$font-desc: "Open Sans",
sans-serif;